 .u-section-1 {
  background-image: url("images/1201914264-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 28px 20px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 448px;
  margin: 80px auto 60px -42px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  margin: 35px 315px 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 15px 375px 0 20px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: 28px auto 0 20px;
  padding: 22px 51px 23px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 705px;
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    position: relative;
    height: 42px;
    margin-top: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 268px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -225px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 139px;
  }

  .u-section-1 .u-group-1 {
    width: 506px;
    margin-top: -96px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 224px;
  }

  .u-section-1 .u-group-1 {
    min-height: 607px;
    margin-top: -182px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 734px;
}

.u-section-2 .u-group-1 {
  width: 779px;
  min-height: 184px;
  margin: 33px 166px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 0 20px;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 70px;
  color: rgb(17, 17, 17) !important;
  margin: 59px 152px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 28px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 33px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 52px auto 0 149px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px auto 0 116px;
  padding: 14px 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 34px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 52px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px auto 0;
  padding: 11px 30px 12px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 51px 44px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 161px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
    margin-right: 126px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 250px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin: -14px 16px -143px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
    margin-left: 123px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 58px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 63px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-top: -15px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 275px;
  }

  .u-section-2 .u-text-3 {
    margin: -40px 13px -169px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 94px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 84px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 6px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 88px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -41px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 199px;
  }

  .u-section-2 .u-text-3 {
    margin: 36px 9px -93px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 82px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 35px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-3 {
    margin: 11px 6px 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 44px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 34px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 37px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 677px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 48px 699px 0 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 15px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(115, 163, 222) !important;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 161px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 167px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(115, 163, 222) !important;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -77px 15px 0 102px;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 502px;
}

.u-section-3 .u-image-1 {
  width: 640px;
  height: 563px;
  margin: -27px auto -54px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 519px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    width: 510px;
    height: 532px;
    margin-top: 4px;
    margin-bottom: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 299px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-image-1 {
    width: 400px;
    height: 414px;
    margin-top: 44px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 119px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-image-1 {
    width: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-image-1 {
    width: 390px;
    height: 470px;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 599px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 157px;
  margin: 47px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 20px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 20px 15px;
}

.u-section-4 .u-form-1 {
  height: 314px;
  width: 737px;
  margin: 16px auto 60px;
}

.u-section-4 .u-form-group-4 {
  text-align: center;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-form-1 {
    width: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 360px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 338px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-form-1 {
    width: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 283px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}