.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  min-height: 536px;
  grid-gap: 27px 27px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 136px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Merriweather, serif;
  margin: -177px auto 0 196px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-1 .u-text-3 {
  margin: 19px 30px 0 196px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 136px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Merriweather, serif;
  margin: -177px auto 0 196px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-1 .u-text-6 {
  margin: 19px 30px 0 196px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 136px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-family: Merriweather, serif;
  margin: -177px auto 0 196px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-1 .u-text-9 {
  margin: 19px 30px 0 196px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 136px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-family: Merriweather, serif;
  margin: -177px auto 0 196px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-1 .u-text-12 {
  margin: 19px 30px 0 196px;
}

.u-section-1 .u-text-13 {
  line-height: 1;
  width: 468px;
  margin: -27px auto 71px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-13 {
    width: 340px;
  }
}